## 9.Mysql
- MySQL Client和MySQL Server的关系
    - 在MySQL Client中输入的SQL语句通过TCP连接发送到MySQL Server。默认端口号是3306
    - 也可以只安装MySQL Client，然后连接到远程MySQL Server。假设远程MySQL Server的IP地址是10.0.1.99，那么就使用-h指定IP或域名: mysql -h 10.0.1.99 -u root -p
- 在安装phpadmin的过程中会遇到一些坑:
    - https://www.cnblogs.com/liang1101/p/7282597.html
    - https://www.php.cn/tool/phpmyadmin/436387.html
- SQL管理操作
    - 数据库
        - SHOW DATABASES;
        - CREATE DATABASE test IF NOT EXISTS test;
        - DROP DATABASE test;
        - USE test;
    - 表
        - SHOW TABLES;
        - DESC students;
        - SHOW CREATE TABLE students;
        - CREATE TABLE students ...
        - DROP TABLE IF EXISTS students;
        - ALTER TABLE students ADD COLUMN birth VARCHAR(10) NOT NULL;
        - ALTER TABLE students CHANGE COLUMN birth birthday VARCHAR(20) NOT NULL;
        - ALTER TABLE students DROP COLUMN birthday;
    - 系统
        - \h
        - EXIT

## 10. 更实用的sql语句
- 插入或替换
    - REPLACE INTO students (id, class_id, name, gender, score) VALUES (1, 1, '小明', 'F', 99);
- 插入或更新
    - INSERT INTO students (id, class_id, name, gender, score) VALUES (1, 1, '小明', 'F', 99) ON DUPLICATE KEY UPDATE name='小明', gender='F', score=99;
- 插入或忽略
    - INSERT IGNORE INTO students (id, class_id, name, gender, score) VALUES (1, 1, '小明', 'F', 99);
    
- 快照
    - CREATE TABLE students_of_class1 SELECT * FROM students WHERE class_id=1;
    - 新创建的表结构和SELECT使用的表结构完全一致
- 写入查询结果集
```
CREATE TABLE statistics (
    id BIGINT NOT NULL AUTO_INCREMENT,
    class_id BIGINT NOT NULL,
    average DOUBLE NOT NULL,
    PRIMARY KEY (id)
);
```
    - INSERT INTO statistics (class_id, average) SELECT class_id, AVG(score) FROM students GROUP BY class_id;
    
- 强制使用指定索引
    - SELECT * FROM students FORCE INDEX (idx_class_id) WHERE class_id = 1 ORDER BY id DESC;